* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: oxygen, Arial;
}

header {
  background-color: rgba(0, 0, 0 , 0.3);
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name-home {
  margin-left: 5%;
  font-size: 24px ;
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.name-home:hover {
  color: rgb(90, 150, 200);
  transition: 0.4s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 5% 40px 0;
}

nav a {
  list-style-type: none;
  color: rgb(165, 165, 165);
  text-decoration: none;
  font-weight: bold;
  margin: 0 20px 0 20px;

}

nav a:hover {
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

.contacts {
  color:rgb(255, 255, 255);
  border: 1px solid rgb(90, 150, 200);
  width: 120px;
  height: 35px;
  text-align: center;
  line-height: 33px;

  border-radius: 10px;
  box-shadow: inset 0 0 0 0 rgb(90, 150, 200);
  transition: transform .2s;
}

.contacts:hover {
  transform: scale(1.2);
  color: white;
  box-shadow: inset 0 -100px 0 0 rgb(90, 150, 200);
  
}

body {
  background-color: rgb(35, 35, 35);
}

.frontpage {
  margin: 20px 20px 20px 20px;
  display: grid;
  align-items: center;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
}

.scroll-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

div.scroll-container {
  position: relative;
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  margin: 20px 20px 20px 20px;
  width: 430px;
  height: 410px;
  object-fit: contain;
  border-radius: 25px;
  background: #212121;
  box-shadow: 15px 15px 15px rgb(15, 15, 15),
             0 0 10px rgb(55, 55, 55);
  transition: transform .2s;
}

div.scroll-container:hover {
  transform: scale(1.1);
}

 .scroll-image {
  padding: 15px;
  width: auto;
  height: 380px;
  object-fit:contain;
  border-radius: 25px;
}

.right-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.topo {
  display: flex;
  width: auto; 
  height: 600px;
  position: relative;
}

.topo img {
  width: 100%;
  height: 600px;
  object-fit:contain;
  position: relative;
 
}

.skill-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  
}

.cards {
  perspective: 500px;
}

.card1, .card2, .card3, .card4 {
  width: 110px;
  height: 110px;
  margin: 20px;
  border: 0px solid #555555;
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .4s;
}

.card1 {
  background-image: url(image/html5-logo.png);
  background-size: contain;
}

.card2 {
  background-image: url(image/css3-logo.png);
  background-size: contain;
}

.card3 {
  background-image: url(image/photoshop-logo.png);
  background-size: contain;
}

.card4 {
  background-image: url(image/illustrator-logo.png);
  background-size: contain;
}

.card1:hover , .card2:hover , .card3:hover , .card4:hover{
  transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
}

.card_title {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 90%;
  left: 0px;
  transform: translateY(-50%);
  transition: transform .3s;
  font: 700 1.3rem monospace;
  text-shadow: -1px -1px  #000,  
    1px -1px  #000,
    -1px 1px  #000,
     1px 1px  #000;
     opacity: 0;
}

.card1:hover .card_title,
 .card2:hover .card_title,
  .card3:hover .card_title,
 .card4:hover .card_title {
  transform: translateZ(40px);
  opacity: 1;

}

footer {
  width: auto;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 25px;
}

nav .footer-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link a {
  list-style-type: none;
  color: rgb(165, 165, 165);
  text-decoration:underline;
  font-weight: bold;
  margin: 0 20px 0 20px;

}
.footer-link a:hover {
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

@media (max-width: 750px){
   div.right-grid , div.scroll-grid , div.frontpage{
    grid-template-columns: 1fr;
    align-self: center;}
   .skill-grid {
    grid-template-columns:  1fr 1fr;}
   div.scroll-container {
    width: auto;
    height: 410px;}
  }

@media (max-width: 950px) and (min-width: 751px){
   .scroll-grid  {
    grid-template-columns: 1fr ;}
    div.scroll-container {
      width: auto;
      height: 410px;}
    .skill-grid {
    grid-template-columns: 1fr 1fr;}
    div.topo , .topo-image {
      padding-right: 0;
    }  
  }

@media (max-width: 1200px){
  .frontpage {
    grid-template-columns: 1fr;}
  .right-grid {
    grid-template-columns: 1fr 1fr;}
}
